POSTGRES_HOST=ruby.db.elephantsql.com
POSTGRES_PORT=5432
POSTGRES_USER=bofljidf
POSTGRES_PASSWORD=EG7qykiZurYbqlvqbB3ThCKAZyGBSgJz
POSTGRES_DATABASE=bofljidf
PORT=3000

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCKcJmJiQNrihctXMLzW7l37HuE\nLzT9H9TaS3cDID/gqtgnbMPJHiYnInfEusKQkrIAAHjnfEuLxhnhO/bsaRRGixPf\n+xXhVMW6bWNQqNcmFUVbJLYli29sGdSb2JERlHSMiNm2sXotqmd78vUYwJHddRVD\nAgT+29LYA9XMFG2C+wIDAQAB\n-----END PUBLIC KEY-----"

JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIICWwIBAAKBgQCKcJmJiQNrihctXMLzW7l37HuELzT9H9TaS3cDID/gqtgnbMPJ\nHiYnInfEusKQkrIAAHjnfEuLxhnhO/bsaRRGixPf+xXhVMW6bWNQqNcmFUVbJLYl\ni29sGdSb2JERlHSMiNm2sXotqmd78vUYwJHddRVDAgT+29LYA9XMFG2C+wIDAQAB\nAoGALy/GBYz/7224DKwrfstq4idmyl1U0FpDMMy8GgKqAyf4WSfHbAussXYcIKAP\npTt7FGkUzMIe9dtmAtFvjpEaaZfUYkx6BIcdk0YAEsi15ZCnmu/fxFouGtAOpMCx\nI6/IuAFDvAtDJIaHO2aR/xE99YYWoBLVzy0Ay2r0/qV6ygECQQDTjiPBQnBS2uAn\n1835+aFWg18QvqxSf6G8qh7RivLGXgh1tbKAhOHCgJJxmnfRG3jrirOegFLXa3lb\nsN4sa9SBAkEAp4YrVcMzwC4TAUWjub6qDbSsKO5TW7O0SiAM3JlheG3Yg68Joon8\nGaR3VxKMLZaiGfZO0+BUy4nEyzVA2bXpewJAfgt3JCM4lzUPTs3WTDS+OrRlBK4G\nL9UZgTX+zKwzv5qxAajzJH2HoQJHvmXhM3Zh0jy+jhY4xV6kXMwBY4gPgQJAAuLL\n0lFnjdL9XtM9S9DeCxhmstnQM883tuMwdYhq5nE1/qbASr2Hy0VLDQPzyEFFD59v\nojTGIS+BZWLIeDerCwJAc61ZXsVov3D8z1jx3nWvRMncfwkwO0MXQIF59G6xTvFz\nvI82c2U/WIrSrkchgwOwg+R0Ox/OpKkSQOnE24v0Rw==\n-----END RSA PRIVATE KEY-----"
postgres://bofljidf:EG7qykiZurYbqlvqbB3ThCKAZyGBSgJz@ruby.db.elephantsql.com/bofljidf